boto3==1.35.23
celery==5.4.0
fastapi==0.115.0
firebase_admin==6.5.0
httpx==0.27.2
langchain==0.3.2
langchain_core==0.3.9
langchain_openai==0.2.2
langchain_pinecone==0.2.0
langgraph==0.2.34
llama_index==0.11.16
numpy==2.1.2
openai==1.51.2
passlib==1.7.4
protobuf==5.28.2
pydantic==2.9.2
python-dotenv==1.0.1
python_jose==3.3.0
redis==5.0.8
Requests==2.32.3
sendgrid==6.11.0
slowapi==0.1.9
starlette==0.39.2
tqdm==4.66.5
twilio==9.3.2
